<div class="wrapper" [formGroup]="form">


    <div class="row">
        <div class="lable">Server Url: 
            <span class="button" (click)="saveServerUrl()">Save</span> 
            <span class="button" (click)="connectWebsocket()">Connect</span>             
            <span class="button" (click)="disconnectWebsocket()">Disconnect</span>             
        </div>
        <input class="fw" formControlName="serverUrl" />
    </div>


    <div class="row">
        <div class="lable">Mac Address: <span class="button" (click)="saveMacAddress()">Save</span> </div>
        <input class="fw" formControlName="macAddress" />
    </div>


    <hr>


    <div class="row">

        <div>OTP: {{otp||'?'}}  |  <span class="button" (click)="requestOtp()">Request OTP</span> </div>

    </div>


    <div class="row">
        <div class="lable">Player Id: 
            <span class="button" (click)="savePlayerId()">Save</span> 
            <span class="button" (click)="playerConnect()">Player Connect</span>
        
        </div>
        <input class="fw" formControlName="playerId" />
    </div>

    <hr>

    

<br>
<br>


    



</div>